{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

{% if user.is_authenticated %}
  
<h2 class="mb-3">Request to Rescue</h2>

<div class="row">
    <div class="col-md-6 col-sm-8 col-12">
      {{ booking_form.media }}
      <form method="post">
        {% csrf_token %}
        {{ booking_form|crispy }}
        <button type="submit" class="btn btn-success">Submit</button>
        <a href="{% url 'profiles' %}" class="btn btn-outline-secondary" role="button">Cancel</a>
      </form>
    </div>
</div>


{% else %}
 <p>You do not currently have permission to view this page. Please login <a class="nav-link" href="{% url 'login' %}">here.</a></p>
{% endif %}

{%endblock%}