{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

{% if user.is_authenticated %}
<!-- <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'profiles' %}">My Profiles</a></li>
      <li class="breadcrumb-item active" aria-current="page">Add a New Profile</li>
    </ol>
</nav> -->
  
<h2 class="mb-3">Add a New Profile</h2>

<div class="row">
    <div class="col-md-6 col-sm-8 col-12">
      <!-- {{ form.media }} -->
      <form method="post">
        {% csrf_token %}
        {{ profile_form|crispy }}
        <button type="submit" class="btn btn-success">Save</button>
        <a href="{% url 'profiles' %}" class="btn btn-outline-secondary" role="button">Cancel</a>
      </form>
    </div>
</div>


{% else %}
 <p>You do not currently have permission to view this page. Please login <a class="nav-link" href="{% url 'login' %}">here.</a></p>
{% endif %}

{%endblock%}