{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}

        <div class="text-center m-4">
            <h2 class="heading">My Dashboard</h2>
        </div>

        {% if user.is_pound %}
        <div class="text-center">
            <p class="lead">Please select what you wish to view:</p>
        </div>
        <div class="text-center mt-4">
            <a href="{% url 'profiles' %}" class="btn btn-lg btn-primary" role="button">See All Dogs</a>
            <a href="{% url 'create_profile' %}" class="btn btn-lg btn-primary" role="button">Add a Dog</a>
        </div>
        <div class="text-center mt-4">
            <a href="{% url 'my_current_dogs' %}" class="btn btn-lg btn-primary" role="button">My Current Dogs</a>
            <a href="{% url 'my_previous_dogs' %}" class="btn btn-lg btn-primary" role="button">My Previous Dogs</a>
        </div>
        <div class="text-center mt-4">
            <a href="{% url 'my_booked_dogs' %}" class="btn btn-lg btn-primary" role="button">My Booked Dogs</a>
            <a href="{% url 'my_proposed_bookings' %}" class="btn btn-lg btn-primary" role="button">My Proposed Bookings</a>
        </div>

        {% elif user.is_rescue %}
        <div class="text-center">
            <p class="lead">Please select what you wish to view:</p>
        </div>
        <div class="text-center mt-4">
            <a href="{% url 'profiles' %}" class="btn btn-lg btn-primary" role="button">See All Dogs</a>
            <a href="{% url 'my_rescued_dogs' %}" class="btn btn-lg btn-primary" role="button">My Rescued Dogs</a>
        </div>
        <div class="text-center mt-4">
            <a href="{% url 'rescue_my_bookings' %}" class="btn btn-lg btn-primary" role="button">My Booked Dogs</a>
            <a href="{% url 'rescue_my_proposed_bookings' %}" class="btn btn-lg btn-primary" role="button">My Proposed Bookings</a>
        </div>

        {% endif %}

{% else %}
<div class="text-center">
    <br>
    <p>You do not have permission to see this page. Please login <a class="nav-link" href="{% url 'login' %}">here.</a></p>
</div>
{% endif %}

{%endblock%}