{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}

    <div class="text-center m-4">
        <h2 class="heading">My Previous Dogs</h2>
    </div>

    <div class="col-11 mx-auto">
        <table class="table table-hover table-bordered table-sm">
            <tr class="bg-primary">
                <th>Profile ID</th><th>Date Added</th><th>Last Updated</th>
                <th>Breed</th><th>Gender</th><th>Appox Age</th>
                <th>Neutered</th><th>Microchipped</th><th>Circumstance</th>
                <th>Pound Entry Date</th><th>Status</th>
                <th>Edit Profile</th><th>Delete Profile</th>
            </tr>
            {% for Profile in object_list %}
                <tr>
                    <td>{{ Profile.pk }}</td>
                    <td>{{ Profile.profile_added }}</td>
                    <td>{{ Profile.last_updated }}</td>
                    <td>{{ Profile.dog_breed }}</td>
                    <td>{{ Profile.get_gender_display }}</td>
                    <td>{{ Profile.approx_age }}</td>
                    <td>{{ Profile.get_neutered_display }}</td>
                    <td>{{ Profile.get_microchipped_display }}</td>
                    <td>{{ Profile.get_circumstance_display }}</td>
                    <td>{{ Profile.pound_entry_date }}</td>
                    <td>{{ Profile.get_status_display }}</td>
                    <td class="text-center"><a href="{% url 'edit_profile' Profile.pk %}"><i class="fa-solid fa-pen-to-square"></i></a></td>
                    <td class="text-center"><a onclick="return confirm('Are you sure do you want to delete this profile?')" href="{% url 'delete_profile' Profile.pk %}"><i class="fa-solid fa-trash"></i></a></td>
                </tr>
            {% empty %}
            <tr><td class="text-center" colspan="13">Currently no data available to display</td></tr>
            {% endfor %}
        </table>
    </div>

{% else %}
<div class="text-center">
    <br>
    <p>You do not have permission to see this page. Please login <a class="nav-link" href="{% url 'login' %}">here.</a></p>
</div>
{% endif %}
    

{%endblock%}