{% extends "base.html" %}

{% block content %}

<h1>Current Dogs Requiring Placement</h1>
<table class="table table-hover table-bordered table-sm">
    <caption>List of Dogs in Pounds Looking for Placement</caption>
    <tr>
        <th>Profile ID</th><th>Date Added</th><th>Last Updated</th>
        <th>Pound</th><th>Breed</th><th>Gender</th><th>Appox Age</th>
        <th>Neutered</th><th>Microchipped</th><th>Circumstance</th>
        <th>Pound Entry Date</th><th>Hold Date</th><th>Status</th>
        <th>Urgency</th>
    </tr>
   {% for Profile in object_list %}
        <tr>
            <td>{{ Profile.profile_id }}</td>
            <td>{{ Profile.profile_added }}</td>
            <td>{{ Profile.last_update }}</td>
            <td>{{ Profile.pound }}</td>
            <td>{{ Profile.dog_breed }}</td>
            <td>{{ Profile.get_gender_display }}</td>
            <td>{{ Profile.get_approx_age_display }}</td>
            <td>{{ Profile.get_neutered_display }}</td>
            <td>{{ Profile.get_microchipped_display }}</td>
            <td>{{ Profile.get_circumstance_display }}</td>
            <td>{{ Profile.pound_entry }}</td>
            <td>{{ Profile.hold_date }}</td>
            <td>{{ Profile.get_status_display }}</td>
            <td>{{ Profile.get_urgency_display }}</td>
        </tr>
    {% endfor %}
</table>

{%endblock%}