{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}

    <div class="text-center m-2">
        <h2 class="heading">My Proposed Bookings</h2>
    </div>

    <table class="table table-hover table-bordered table-sm">
        <tr>
            <th>Profile ID</th><th>Date Added</th><th>Last Updated</th>
            <th>Pound</th><th>Location</th><th>Breed</th><th>Gender</th><th>Appox Age</th>
            <th>Neutered</th><th>Microchipped</th><th>Circumstance</th>
            <th>Pound Entry Date</th><th>Hold Date</th><th>Status</th>
            <th>Urgency</th><th>Contact Number Provided</th>
            <th>Proposed Collection</th><th>Edit Booking</th><th>Delete Booking</th>
        </tr>
    {% for profile in profiles %}
        <tr>
            <td>{{ profile.pk }}</td>
            <td>{{ profile.profile_added }}</td>
            <td>{{ profile.last_updated }}</td>
            <td>{{ profile.pound.pound_official_name }}</td>
            <td>{{ profile.pound.get_county_display }}</td>
            <td>{{ profile.dog_breed }}</td>
            <td>{{ profile.get_gender_display }}</td>
            <td>{{ profile.approx_age }}</td>
            <td>{{ profile.get_neutered_display }}</td>
            <td>{{ profile.get_microchipped_display }}</td>
            <td>{{ profile.get_circumstance_display }}</td>
            <td>{{ profile.pound_entry_date }}</td>
            <td>{{ profile.hold_date }}</td>
            <td>{{ profile.get_status_display }}</td>
            <td>{{ profile.get_urgency_display }}</td>
            {% for booking in bookings %}
                <td>{{ booking.phone_number }}</td>
                <td>{{ booking.collection_date }}</td>
            {% endfor %}

            <td><a href="{% url 'delete_booking' Profile.pk %}"><i class="fa-solid fa-trash"></i></a></td>
        </tr>
    {% endfor %}
    </table>
    
</div>

{% else %}
<p>You do not have permission to see this page. Please login <a class="nav-link" href="{% url 'login' %}">here.</a></p>
{% endif %}

{%endblock%}