{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}

    <div class="text-center m-4">
        <h2 class="heading">My Rescued Dogs</h2>
    </div>

    <div class="col-11 mx-auto">
        <table class="table table-hover table-bordered table-sm">
            <tr class="bg-primary">
                <th>Profile ID</th><th>Date Added</th><th>Last Updated</th>
                <th>Pound</th><th>Location</th><th>Breed</th><th>Gender</th><th>Appox Age</th>
                <th>Neutered</th><th>Microchipped</th><th>Circumstance</th>
                <th>Pound Entry Date</th><th>Status</th>
                <th>Urgency</th><th>Collected Date</th>
            </tr>
            {% for booking in object_list %}
            <tr>
                <td>{{ booking.profile.pk }}</td>
                <td>{{ booking.profile.profile_added }}</td>
                <td>{{ booking.profile.last_updated }}</td>
                <td>{{ booking.profile.pound.pound_official_name }}</td>
                <td>{{ booking.profile.pound.get_county_display }}</td>
                <td>{{ booking.profile.dog_breed }}</td>
                <td>{{ booking.profile.get_gender_display }}</td>
                <td>{{ booking.profile.approx_age }}</td>
                <td>{{ booking.profile.get_neutered_display }}</td>
                <td>{{ booking.profile.get_microchipped_display }}</td>
                <td>{{ booking.profile.get_circumstance_display }}</td>
                <td>{{ booking.profile.pound_entry_date }}</td>
                <td>{{ booking.profile.get_status_display }}</td>
                <td>{{ booking.profile.get_urgency_display }}</td>
                <td>{{ booking.collection_date }}</td>
            <tr>
            {% empty %}
            <tr><td class="text-center" colspan="15">Currently no data available to display</td></tr>
            {% endfor %}
        </table>
        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>

{% else %}
<div class="text-center">
    <br>
    <p>You do not have permission to see this page. Please login <a class="nav-link" href="{% url 'login' %}">here.</a></p>
</div>
{% endif %}
    

{%endblock%}