{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}

    <div class="text-center m-4">
        <h2 class="heading">My Rescued Dogs</h2>
    </div>

    <div class="col-11 mx-auto">
        <table class="table table-hover table-bordered table-sm">
            <tr class="bg-primary">
                <th>Profile ID</th><th>Date Added</th><th>Last Updated</th>
                <th>Pound</th><th>Location</th><th>Breed</th><th>Gender</th><th>Appox Age</th>
                <th>Neutered</th><th>Microchipped</th><th>Circumstance</th>
                <th>Pound Entry Date</th><th>Status</th>
                <th>Urgency</th><th>Collected Date</th>
            </tr>
            {% for Profile in object_list %}
                <tr>
                    <td>{{ Profile.pk }}</td>
                    <td>{{ Profile.profile_added }}</td>
                    <td>{{ Profile.last_updated }}</td>
                    <td>{{ Profile.pound.pound_official_name }}</td>
                    <td>{{ Profile.pound.get_county_display }}</td>
                    <td>{{ Profile.dog_breed }}</td>
                    <td>{{ Profile.get_gender_display }}</td>
                    <td>{{ Profile.approx_age }}</td>
                    <td>{{ Profile.get_neutered_display }}</td>
                    <td>{{ Profile.get_microchipped_display }}</td>
                    <td>{{ Profile.get_circumstance_display }}</td>
                    <td>{{ Profile.pound_entry_date }}</td>
                    <td>{{ Profile.get_status_display }}</td>
                    <td>{{ Profile.get_urgency_display }}</td>
                    {% for dog_booking in Profile.dog_booking.all %}
                        <td>{{ dog_booking.collection_date }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>

{% else %}
<div class="text-center">
    <br>
    <p>You do not have permission to see this page. Please login <a class="nav-link" href="{% url 'login' %}">here.</a></p>
</div>
{% endif %}
    

{%endblock%}