{% extends 'base.html' %}

{% block content %}
  <div class="text-center">
    <h2>Register a Connector Account</h2>
  </div>
  <div class="text-center">
    <p class="lead">Please select the type of account you want to create</p>
  </div>
  <div class="text-center">
    <a href="{% url 'rescue_signup' %}" class="btn btn-lg btn-success" role="button">I'm a Rescue</a>
  </div>
  <br>
  <div class="text-center">
    <a href="{% url 'pound_signup' %}" class="btn btn-lg btn-warning" role="button">I'm a Pound</a>
  </div>
{% endblock %}